In [37]:
import kagglehub
import pandas as pd

In [30]:
path = kagglehub.dataset_download("dimodimchev/bulgarias-it-job-market")

In [3]:
print(path)

/Users/corentindupriez/.cache/kagglehub/datasets/dimodimchev/bulgarias-it-job-market/versions/1

In [5]:
df = pd.read_csv(path + '/cleaned_dataset.csv')

In [6]:
df

,id,date,backenddevelopment,java,dotnet,php,ccplusplusembeded,python,ruby,go,...,bigdata,datavisualisation,mlandai,ui_ux,technical_support,mobile,ios,android,itmanagment,junior
0,1,2023-08-13,953,284,183,130,138,85,7,21,...,15,55,45,52,123,86,28,40,27,146
1,2,2023-08-14,954,282,187,128,139,86,8,22,...,15,56,46,51,121,86,28,40,26,144
2,14,2023-08-15,951,284,187,125,136,82,8,24,...,16,55,47,54,116,86,28,40,25,150
3,25,2023-08-16,955,282,188,126,137,83,8,23,...,16,55,45,54,116,83,28,39,26,138
4,31,2023-08-17,939,273,184,129,133,83,7,23,...,16,55,46,55,112,90,29,44,27,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,177,2023-10-27,838,239,166,104,129,70,7,22,...,14,40,61,98,46,85,26,39,37,136
76,179,2023-10-28,836,239,166,104,129,70,7,22,...,14,40,61,98,46,85,26,39,37,136
77,181,2023-10-29,836,239,166,104,129,70,7,22,...,14,40,61,98,46,85,26,39,37,136
78,183,2023-10-30,840,242,160,102,133,70,7,22,...,15,43,63,99,45,81,23,38,37,131
79,189,2023-10-31,837,240,161,104,134,69,6,21,...,15,42,63,104,45,79,23,37,36,132

In [14]:
df['date'] = pd.to_datetime(df['date'])

In [28]:
df.loc[:,'backenddevelopment':'junior':1].groupby(df['date'].dt.to_period('M')).mean().info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 3 entries, 2023-08 to 2023-10
Freq: M
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   backenddevelopment   3 non-null      float64
 1   java                 3 non-null      float64
 2   dotnet               3 non-null      float64
 3   php                  3 non-null      float64
 4   ccplusplusembeded    3 non-null      float64
 5   python               3 non-null      float64
 6   ruby                 3 non-null      float64
 7   go                   3 non-null      float64
 8   nodejs               3 non-null      float64
 9   frontenddevelopment  3 non-null      float64
 10  js                   3 non-null      float64
 11  react                3 non-null      float64
 12  angular              3 non-null      float64
 13  vue                  3 non-null      float64
 14  fulstackdevelopment  3 non-null      float64
 15  pmandba              3 non-null      float64
 16  qa                   3 non-null      float64
 17  devops               3 non-null      float64
 18  databaseengineer     3 non-null      float64
 19  cybersecurity        3 non-null      float64
 20  sysadmin             3 non-null      float64
 21  datawarehouse        3 non-null      float64
 22  bigdata              3 non-null      float64
 23  datavisualisation    3 non-null      float64
 24  mlandai              3 non-null      float64
 25  ui_ux                3 non-null      float64
 26  technical_support    3 non-null      float64
 27  mobile               3 non-null      float64
 28  ios                  3 non-null      float64
 29  android              3 non-null      float64
 30  itmanagment          3 non-null      float64
 31  junior               3 non-null      float64
dtypes: float64(32)
memory usage: 792.0 bytes